@media print {
	@page {
		@top-left {
			white-space: pre;
			line-height:1.4em;
			font-size: 12pt;
		}

		@top-center {
			font-size: 10pt;
		}

		@top-right {
			font-size: 10pt;
			color: #333;

		}

		@bottom-left {
			font-size: 9pt;
			color: #666;
		}

		@bottom-center {
			font-size: 9pt;
			color: #a98;
		}

		@bottom-right {
			font-size: 9pt;
			color: #ab9;
		}
	}
}
