@media print {
	body.tc-body {
		background-color: transparent;
	}

	.tc-sidebar-header, .tc-topbar {
		display: none;
	}

	.tc-story-river {
		margin: 0;
		padding: 0;
	}

	.tc-story-river .tc-tiddler-frame {
		margin: 0;
		border: none;
		padding: 0;
	}
}

@media print {
	.tc-tiddler-controls {
		display: none;
	}
}	