/* Static styles for Slide print profile */
@media print {
	section[data-print-profile="slide"] {

		/* Hide TW elements on slide */
		.tc-subtitle, /* hide subtitle*/
		.tc-tags-wrapper, /*hide tags */
		.tc-tiddler-title-icon /* hide tiddler title icon */	
		{
			display: none;
		}	

		/* Print each tiddler in one page */		
		.tc-tiddler-frame { break-after: page; }
		.tc-tiddler-frame:last-of-type { break-after: avoid; }

	} /* end of section[data-print-profile="slide"] */

} /* end of @media print */