/* Remove later
- This is part of vanilla theme
- See how and where font size and line height are applied
*/
	html, body {
	font-family: {{$:/themes/tiddlywiki/vanilla/settings/fontfamily}};
	text-rendering: optimizeLegibility; /* Enables kerning and ligatures etc. */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tc-single-tiddler-window .tc-tiddler-body,
.tc-tiddler-frame .tc-tiddler-body {
	font-size:   {{$:/themes/tiddlywiki/vanilla/metrics/bodyfontsize}};
	line-height: {{$:/themes/tiddlywiki/vanilla/metrics/bodylineheight}};
}

	body.tc-body {
	font-size:   {{$:/themes/tiddlywiki/vanilla/metrics/fontsize}};
	line-height: {{$:/themes/tiddlywiki/vanilla/metrics/lineheight}};
	}
